.c-card{
    
    border: 1px solid $color-gray-blue;
    &__tecnologias{
                display: flex;
                flex-wrap: wrap;
                padding: 8px;
                align-items: flex-start;
                gap: 8px;
                align-self: stretch;
                border: 1px solid $color-gray-blue;
            span{
                color: $color-gray-blue;
                font-family: $font-1;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            
    }
    &__title{
       
        &--text{
            color: $color-white;
            font-family: $font-1;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        &--description{
            color: $color-gray-blue;
            font-family: $font-1;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 16px 0px 16px 0px;
            
        }
    }
    &__buttons{
        display: flex;
        align-items: flex-start;
        gap: 16px;
       
        &--btn{
            color: $color-white;
            font-family: $font-1;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            padding: 8px 16px;
            align-items: flex-start;
            gap: 10px;
            border: 1px solid $color-gray-blue;
            text-decoration: none;
            cursor: pointer;
            transition: border 0.3s ease-in-out, background 0.2s ease-in-out; /* Transición suave */
            &:hover{
                border: 1px solid #ABB2BF;
                background: rgba(171, 178, 191, 0.20);
            }
        }
    }
} 