font-face{
    font-family: 'Fira Code';
    src: url('../01.SETTIGS/FiraCode-Bold.ttf');
    src: url('../01.SETTIGS/FiraCode-Regular.ttf');

    
}

font-face{
    font-family: 'Rajdhani', sans-serif;
    src: url('../01.SETTIGS/Rajdhani-Bold.ttf') format('truetype');
    src: url('../01.SETTIGS/Rajdhani-Regular.ttf') format('truetype');
    src: url('../01.SETTIGS/Rajdhani-SemiBold.ttf') format('truetype');
    src: url('../01.SETTIGS/Rajdhani-Medium.ttf') format('truetype');
    
}
