///////COLORES
$color-background: #282C33;
$color-white: #FFFFFF;
$color-white-gray: #F5F5F5;
$color-gray-blue: #ABB2BF;

///////PADDING MOBILE
$padding-mobile: 0px 10px 0px 10px;

///////PADDING TABLET
$padding-tablet: 0px 50px 0px 50px;

///////PADDING DESK
$padding-desk: 0px 115px 0px 115px;

///////FONTS
$font-1: 'Fira Code';
$font-2: 'Rajdhani', sans-serif;